<div class="modal" id="Login">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sign In</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
        
         <p>Username</p>
        <p><input type="text" class="form-control" name="Username"></p>
        <p>Password</p>
        <p><input type="password" class="form-control" name="Password"></p>
        <p><input type="submit" class="btn btn-primary" value="Login"></p>
    </div>
    <!-- Modal footer -->
  <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

      </div>
    </div>
</div>