<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Guardian Name</th>
        <th>Phone No</th>
        <th>Adress</th>
        <th>10%</th>
        <th>12%</th>
        <th>Wbjee Rank</th>
      </tr>
    </thead>
    <tbody>
      {% for p in frm %}
      <tr>
        <td>{{p.fname}}</td>
        <td>{{p.lname}}</td>
        <td>{{p.radio}}</td>
        <td>{{p.email}}</td>
        <td>{{p.phone}}</td>
        <td>{{p.guardian}}</td>
        <td>{{p.guardianphn}}</td>
        <td>{{p.address}}</td>
        <td>{{p.tenth}}</td>
        <td>{{p.twelveth}}</td>
        <td>{{p.wbjee}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

</body>
</html>
